
:root{
  --clr: #222327;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}
body{
  width: 100%;
  height: 100%;
  background: var(--clr);
  /* url('https://i.redd.it/r6jyaj8b21631.png') */
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  
}



